@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');

body {
  font-family: 'Karla', sans-serif;
}

.ordered-lists {
  display: flex;
}

.ordered-lists ol {
  margin: 0;
  width: 50%;
}

.ordered-lists ol h1 {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

a {
  text-decoration: none;
  color: red;
  font-size: 1.2rem;
  line-height: 25px;
}

a:hover {
  color: blue;
  font-size: 1.5rem;
  transition: 0.1s;
}

.title {

  text-align: center;
  color: red;
}

@media only screen and (max-width: 1024px) {
  .ordered-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ordered-lists ol {
    width: 90%;
  }
}